@inherits UmbracoViewPage<ChicCarrental_Models.PageModel.HomeModel>

@{
    Layout = "Master.cshtml";
}
@section styles{
    <link href="~/assets/css/select2.css" rel="stylesheet" />
}
<div id="dajy" class="fullscreen-container mtslide sliderbg fixed">
    <div class="fullscreenbanner">
        <ul>
            <!-- papercut fade turnoff flyin slideright slideleft slideup slidedown-->
            <!-- FADE -->
            @{
                var Banners = Model.Content.Children.Where(x => x.Name == "Home-Banner").FirstOrDefault();
                foreach (var Banner in Banners.Children().ToList())
                {
                    var image = Umbraco.TypedMedia(Banner.GetPropertyValue<int>("imageBN"));
                    if (image != null)
                    {
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                            <img src="@image.Url" alt="" />
                            <div class="tp-caption scrolleffect sft"
                                 data-x="center"
                                 data-y="120"
                                 data-speed="1000"
                                 data-start="800"
                                 data-easing="easeOutExpo">
                                <div class="sboxpurple textcenter">
                                    @Html.Raw(Banner.GetPropertyValue("teaser"))
                                </div>
                            </div>
                        </li>
                    }
                }
            }


        </ul>
        <div class="tp-bannertimer none"></div>
    </div>
</div>

<script type="text/javascript">

    var tpj = jQuery;
    tpj.noConflict();

    tpj(document).ready(function () {

        if (tpj.fn.cssOriginal != undefined)
            tpj.fn.css = tpj.fn.cssOriginal;

        tpj('.fullscreenbanner').revolution(
            {
                delay: 9000,
                startwidth: 1170,
                startheight: 600,

                onHoverStop: "on",						// Stop Banner Timet at Hover on Slide on/off

                thumbWidth: 100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                thumbHeight: 50,
                thumbAmount: 3,

                hideThumbs: 0,
                navigationType: "bullet",				// bullet, thumb, none
                navigationArrows: "solo",				// nexttobullets, solo (old name verticalcentered), none

                navigationStyle: false,				// round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom


                navigationHAlign: "left",				// Vertical Align top,center,bottom
                navigationVAlign: "bottom",					// Horizontal Align left,center,right
                navigationHOffset: 30,
                navigationVOffset: 30,

                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,

                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,

                touchenabled: "on",						// Enable Swipe Function : on/off


                stopAtSlide: -1,							// Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
                stopAfterLoops: -1,						// Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic

                hideCaptionAtLimit: 0,					// It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
                hideAllCaptionAtLilmit: 0,				// Hide all The Captions if Width of Browser is less then this value
                hideSliderAtLimit: 0,					// Hide the whole slider, and stop also functions if Width of Browser is less than this value


                fullWidth: "on",							// Same time only Enable FullScreen of FullWidth !!
                fullScreen: "off",						// Same time only Enable FullScreen of FullWidth !!


                shadow: 0								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)

            });


    });
</script>


<!-- WRAP -->

<div class="wrap cstyle03">

    <div class="container mt-130 z-index100">
        <div class="row">
            <div class="col-md-12">
                <div class="bs-example bs-example-tabs cstyle04">

                    <ul class="nav nav-tabs" id="myTab">
                        <li onclick="mySelectUpdate()" class="active"><a data-toggle="tab" href="#car2"><span class="car"></span><span class="hidetext"> Car</span>&nbsp;</a></li>
                        <li onclick="mySelectUpdate()" class=""><a data-toggle="tab" href="#hotel2"><span class="hotel"></span><span class="hidetext"> Hotel</span>&nbsp;</a></li>
                    </ul>
                    <form method="post" action="/booking" autocomplete="off">
                        <input type="hidden" name="typeselect" value="1" />
                        <div class="tab-content2" id="myTabContent">


                            <div id="car2" class="tab-pane active">

                                <div class="col-md-4">
                                    <div class="w50percent">
                                        <div class="wh90percent textleft">
                                            <span class="opensans size13"><b>Picking up</b></span>

                                            <select class="form-control selectbox" name="pickuploc" id="pickuploc" required>
                                                <option></option>
                                                @foreach (var x in Model.Branch)
                                                {
                                                    <option value="@x.A_ID">@x.Branch_Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="w50percentlast">
                                        <div class="wh90percent textleft right">
                                            <span class="opensans size13"><b>Dropping off</b></span>
                                            <select class="form-control selectbox" name="dropoffloc" id="dropoffloc">
                                                <option></option>
                                                @foreach (var x in Model.Branch)
                                                {
                                                    <option value="@x.A_ID">@x.Branch_Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="w50percent">
                                        <div class="wh90percent textleft">
                                            <span class="opensans size13"><b>Pick up date</b></span>
                                            <input type="text" class="form-control mySelectCalendar" id="pickupdate" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="pickupdate" readonly required />
                                        </div>
                                    </div>

                                    <div class="w50percentlast">
                                        <div class="wh90percent textleft right">
                                            <span class="opensans size13"><b>Hour</b></span>
                                            <select class="form-control mySelectBoxClass" name="pickuptime">
                                                <option>12:00 AM</option>
                                                <option>12:30 AM</option>
                                                <option>01:00 AM</option>
                                                <option>01:30 AM</option>
                                                <option>02:00 AM</option>
                                                <option>02:30 AM</option>
                                                <option>03:00 AM</option>
                                                <option>03:30 AM</option>
                                                <option>04:00 AM</option>
                                                <option>04:30 AM</option>
                                                <option>05:00 AM</option>
                                                <option>05:30 AM</option>
                                                <option>06:00 AM</option>
                                                <option>06:30 AM</option>
                                                <option>07:00 AM</option>
                                                <option>07:30 AM</option>
                                                <option>08:00 AM</option>
                                                <option>08:30 AM</option>
                                                <option>09:00 AM</option>
                                                <option>09:30 AM</option>
                                                <option>10:00 AM</option>
                                                <option selected>10:30 AM</option>
                                                <option>11:00 AM</option>
                                                <option>11:30 AM</option>
                                                <option>12:00 PM</option>
                                                <option>12:30 PM</option>
                                                <option>01:00 PM</option>
                                                <option>01:30 PM</option>
                                                <option>02:00 PM</option>
                                                <option>02:30 PM</option>
                                                <option>03:00 PM</option>
                                                <option>03:30 PM</option>
                                                <option>04:00 PM</option>
                                                <option>04:30 PM</option>
                                                <option>05:00 PM</option>
                                                <option>05:30 PM</option>
                                                <option>06:00 PM</option>
                                                <option>06:30 PM</option>
                                                <option>07:00 PM</option>
                                                <option>07:30 PM</option>
                                                <option>08:00 PM</option>
                                                <option>08:30 PM</option>
                                                <option>09:00 PM</option>
                                                <option>09:30 PM</option>
                                                <option>10:00 PM</option>
                                                <option>10:30 PM</option>
                                                <option>11:00 PM</option>
                                                <option>11:30 PM</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="w50percent">
                                        <div class="wh90percent textleft">
                                            <span class="opensans size13"><b>Drop off date</b></span>
                                            <input type="text" class="form-control mySelectCalendar" id="dropoffdate" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="dropoffdate" readonly required />
                                        </div>
                                    </div>

                                    <div class="w50percentlast">
                                        <div class="wh90percent textleft right">
                                            <span class="opensans size13"><b>Hour</b></span>
                                            <select class="form-control mySelectBoxClass" name="dropofftime">
                                                <option>12:00 AM</option>
                                                <option>12:30 AM</option>
                                                <option>01:00 AM</option>
                                                <option>01:30 AM</option>
                                                <option>02:00 AM</option>
                                                <option>02:30 AM</option>
                                                <option>03:00 AM</option>
                                                <option>03:30 AM</option>
                                                <option>04:00 AM</option>
                                                <option>04:30 AM</option>
                                                <option>05:00 AM</option>
                                                <option>05:30 AM</option>
                                                <option>06:00 AM</option>
                                                <option>06:30 AM</option>
                                                <option>07:00 AM</option>
                                                <option>07:30 AM</option>
                                                <option>08:00 AM</option>
                                                <option>08:30 AM</option>
                                                <option>09:00 AM</option>
                                                <option>09:30 AM</option>
                                                <option>10:00 AM</option>
                                                <option selected>10:30 AM</option>
                                                <option>11:00 AM</option>
                                                <option>11:30 AM</option>
                                                <option>12:00 PM</option>
                                                <option>12:30 PM</option>
                                                <option>01:00 PM</option>
                                                <option>01:30 PM</option>
                                                <option>02:00 PM</option>
                                                <option>02:30 PM</option>
                                                <option>03:00 PM</option>
                                                <option>03:30 PM</option>
                                                <option>04:00 PM</option>
                                                <option>04:30 PM</option>
                                                <option>05:00 PM</option>
                                                <option>05:30 PM</option>
                                                <option>06:00 PM</option>
                                                <option>06:30 PM</option>
                                                <option>07:00 PM</option>
                                                <option>07:30 PM</option>
                                                <option>08:00 PM</option>
                                                <option>08:30 PM</option>
                                                <option>09:00 PM</option>
                                                <option>09:30 PM</option>
                                                <option>10:00 PM</option>
                                                <option>10:30 PM</option>
                                                <option>11:00 PM</option>
                                                <option>11:30 PM</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="searchbg2">
                            <div class="left ca01">
                                <a href="#">Advanced + </a>
                            </div>
                            <button type="submit" class="btn-search right mr30">Search</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>


    <div class="lastminute2 lcfix">
        <div class="container lmc">
            @{
                var promotions = Model.Content.Children.Where(x => x.Name == "Promotion").FirstOrDefault();
                var promotion = promotions.Children().RandomOrder().FirstOrDefault();
                <img src="/images/rating-@(promotion.GetPropertyValue<int>("ratingStar")).png" alt="" /><br />
                @promotion.GetPropertyValue("excerpt")
                <form action="@promotion.Url">
                    <button class="btn iosbtn" type="submit">Read more</button>
                </form>
            }


        </div>
    </div>


    <!-- FOOTER -->
    <div class="footerbg sfix2">
        <div class="container">
            <footer>
                <div class="footer">
                    <a href="#" class="social1"><img src="images/icon-facebook.png" alt="" /></a>
                    <a href="#" class="social2"><img src="images/icon-twitter.png" alt="" /></a>
                    <a href="#" class="social3"><img src="images/icon-gplus.png" alt="" /></a>
                    <a href="#" class="social4"><img src="images/icon-youtube.png" alt="" /></a>
                    <br /><br />
                    Copyright &copy; 2013 <a href="#">Travel Agency</a> All rights reserved. <a href="http://titanicthemes.com">TitanicThemes.com</a>
                    <br /><br />
                    <a href="#top" id="gotop2" class="gotop"><img src="images/spacer.png" alt="" /></a>
                </div>
            </footer>
        </div>
    </div>

</div>
<!-- /WRAP -->

@section scripts{
    <script src="~/assets/js/select2.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            var dateFormat = "yy-mm-dd",
                from = $("#pickupdate")
                    .datepicker({
                        defaultDate: "+2d",
                        changeMonth: true,
                        numberOfMonths: 2,
                        minDate: 2,
                        dateFormat: "yy-mm-dd"
                    })
                    .on("change", function () {
                        to.datepicker("option", "minDate", getDate(this));
                    }),
                to = $("#dropoffdate").datepicker({
                    defaultDate: "+2d",
                    changeMonth: true,
                    numberOfMonths: 2,
                    dateFormat: "yy-mm-dd"
                })
                    .on("change", function () {
                        from.datepicker("option", "maxDate", getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }
                return date;
            }

            $('#pickuploc,#dropoffloc').select2();
            $('#pickuploc').on('change', function () {
                $('#dropoffloc').val($(this).val());
                $('#dropoffloc').select2();
            })

        });
    </script>


}