@inherits UmbracoViewPage<ChicCarrental_Models.PageModel.HomeModel>

@{
    Layout = "Master.cshtml";
}
@section styles{
    <link href="~/scripts/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/misc/timpicki/style.css" rel="stylesheet" />
}

<div class="container">


    <div class="section1"></div>

    <div class="jumbotron margin--250px">
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Car Booking</a>
                </li>
                <li role="presentation">
                    <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">tab2</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab1">
                    <form method="post" action="/Booking">
                        <div class="container-fluid tabborder">
                            <div class="row">
                                    <p></p>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Pickup location :</label>
                                                <select class="form-control selectbox" name="pickuploc" required>                                                  
                                                    @foreach (var x in Model.Branch)
                                                    {
                                                        <option value="@x.A_ID">@x.Branch_Name</option>
                                                    }
                                                </select>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="diffectdrop"> different dropoff
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row" style="display:none;" id="dropdiv">
                                            <div class="col-md-12">
                                                <label>Dropoff location :</label>
                                                <select class="form-control selectbox" name="dropoffloc">
                                                    @foreach (var x in Model.Branch)
                                                    {
                                                        <option value="@x.A_ID">@x.Branch_Name</option>
                                                    }
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Pickup date :</label>
                                        <input type="text" class="form-control" data-type="daterange" name="pickupdate" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly required>
                                    </div>
                                    <div class="col-md-1">
                                        <label>time :</label>
                                        <input type="text" class="form-control" data-type="timepicker" name="pickuptime" value="@DateTime.Now.ToString("hh:00 tt")" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Dropoff date :</label>
                                        <input type="text" class="form-control" data-type="daterange" name="dropoffdate" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" readonly required>
                                    </div>
                                    <div class="col-md-1">
                                        <label>time :</label>
                                        <input type="text" class="form-control" data-type="timepicker" name="dropofftime" value="@DateTime.Now.ToString("hh:00 tt")" required>
                                    </div>
                                    <div class="col-md-1">
                                        <label>&nbsp;</label>
                                        <button class="btn btn-default btn-block" type="submit">Go</button>
                                    </div>
                            </div>
                            <div class="row">
                                <p></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab2">...</div>
            </div>

        </div>
    </div>

    <div class="clearfix"></div>

    <section class="section2">
        <h1>Promotion</h1>
            
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="~/images/tmbimage.PNG" style="height: 180px; width: 100%; display: block;">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="~/images/tmbimage.PNG" alt="img" style="height: 180px; width: 100%; display: block;">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="~/images/tmbimage.PNG" alt="img" xsrc="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTZjNWM3ZjQ3ZWEgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNmM1YzdmNDdlYSI+PHJlY3Qgd2lkdGg9IjE3MSIgaGVpZ2h0PSIxODAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI1OS41NDY4NzUiIHk9Ijk0LjUiPjE3MXgxODA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" style="height: 180px; width: 100%; display: block;">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="~/images/tmbimage.PNG" alt="img" xsrc="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTZjNWM3ZjgwNWIgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNmM1YzdmODA1YiI+PHJlY3Qgd2lkdGg9IjE3MSIgaGVpZ2h0PSIxODAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI1OS41NDY4NzUiIHk9Ijk0LjUiPjE3MXgxODA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" style="height: 180px; width: 100%; display: block;">
                        </a>
                    </div>
                </div>
            
    </section>

    <section class="section3">
        <h1>Deal</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="~/images/tmbimage.PNG" alt="image" style="height: 200px; width: 100%; display: block;">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="~/images/tmbimage.PNG" alt="image" style="height: 200px; width: 100%; display: block;">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="~/images/tmbimage.PNG" alt="image" style="height: 200px; width: 100%; display: block;">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-1 col-md-6">
                        <a href="#">
                            <img src="~/images/tmbimage.PNG" alt="img" style="height: 180px; width: 100%; display: block;">
                        </a>
                    </div>
                    <div class="col-xs-1 col-md-6">
                        <a href="#">
                            <img src="~/images/tmbimage.PNG" alt="img" style="height: 180px; width: 100%; display: block;">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>

@section scripts{

    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
    <script src="~/scripts/bxslider/jquery.bxslider.js"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="~/misc/timpicki/script.js"></script>
    <script>
        $(document).ready(function () {

            $('#TopBanner').bxSlider({
                auto: true,
                autoControls: true,
                mode: "fade",
                randomStart: true,
                controls: false
            });

            $('#MidBanner').bxSlider({
                auto: true,
                randomStart: true,
                minSlides: 1,
                maxSlides: 6,
                moveSlides: 4,
                slideWidth: 320,
            });

            $('#diffectdrop').click(function () {
                $('#dropdiv').toggle();
                if ($('#dropdiv').is(':hidden')) {
                    $('input[name="dropoffloc"]').val($('input[name="pickuploc"]').val());
                }
            });

            $('.selectbox').select2();

            $('input[data-type="daterange"]').daterangepicker({
                minDate: moment().format('MM/DD/YYYY'),
                autoApply: true,
                endDate: moment().add(1, 'days').format('MM/DD/YYYY'),
                autoUpdateInput: false
            }, function (start, end, label) {
                $('input[name="pickupdate"]').val(start.format('YYYY-MM-DD'));
                $('input[name="dropoffdate"]').val(end.format('YYYY-MM-DD'));
            });

            $('input[data-type="timepicker"]').timepicki({
                start_time: [moment().format('hh'), "00", moment().format('A')],
                overflow_minutes: true,
                step_size_minutes: 15
            });

        });
    </script>
}