@inherits UmbracoViewPage<ChicCarrental_Models.PageModel.HomeModel>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using System.Reflection;
@{
    Layout = "Master.cshtml";
    //var backgroundImage = Model.Content.HeroBackgroundImage != null ? Model.Content.HeroBackgroundImage.Url : String.Empty;
}
@section styles{
    <link href="~/scripts/bxslider/jquery.bxslider.css" rel="stylesheet" />
}
@*Type t = item.GetType();
    PropertyInfo[] pi = t.GetProperties();
    foreach (PropertyInfo p in pi)
    {
        <p>@p.Name + " : " + @p.GetType()</p>
    }*@

<section>
    <div id="TopBanner">
        @{
            var topBanner = Model.Content.Descendants().Where("Name == \"TopBanner\" && Visible").First();
            foreach (var item in topBanner.Children())
            {
                var image = Umbraco.TypedMedia(item.GetPropertyValue<int>
                    ("imageBN"));
                if (image != null)
                {
                    <img src="@image.Url" alt="@image.Name" />
                }
            }
        }
    </div>

</section>

<div class="searchform">
    <form class="container">
        <div class="row">
            @foreach(var branch in Model.Branch)
            {
                <p>@branch.Branch_Name</p>
            }
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Last name">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Last name">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
    </form>
</div>

<section id="SecMidBanner">
    <ul id="MidBanner">
        @{
            var carBanner = Model.Content.Descendants().Where("Name == \"CarBanner\" && Visible").First();
            foreach (var item in carBanner.Children())
            {
                var image = Umbraco.TypedMedia(item.GetPropertyValue<int>("imageBN"));

                <li>
                    <div>
                        @if (image != null)
                        {
                            <img src="@image.Url" alt="@image.Name" />
                        }
                        <p><b>@item.GetPropertyValue("titleName")</b></p>
                        <p>@item.GetPropertyValue("teaser")</p>
                    </div>
                </li>
            }
        }
    </ul>
</section>

<section class="container-fluid">
    <div class="row" id="Promotion">
        @{
            var Promotion = Model.Content.Descendants().Where("Name == \"Promotion\" && Visible").First();
            foreach (var item in Promotion.Children())
            {
                var image = Umbraco.TypedMedia(item.GetPropertyValue<int>("imageBN"));
                <div class="col-sm-4">
                    @if (image != null)
                    {
                        <img src="@image.Url" alt="@image.Name" class="img-responsive" />
                    }
                    <p><b>@item.GetPropertyValue("titleName")</b></p>
                    <p>@item.GetPropertyValue("teaser")</p>
                </div>
            }
        }
    </div>
</section>

<section class="section">
    @Html.GetGridHtml(Model.Content, "bodyText", "Bootstrap3-Fluid")
</section>

<section id="Sec2Column">
    @Html.GetGridHtml(Model.Content, "body2Column", "Bootstrap3-Fluid")
</section>

<section class="section section--themed">
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>

@section scripts{
    <script src="~/scripts/bxslider/jquery.bxslider.js"></script>
    <script>
        $(document).ready(function () {
            $('#TopBanner').bxSlider({
                auto: true,
                autoControls: true,
                mode: "fade",
                randomStart: true,
                controls: false
            });

            $('#MidBanner').bxSlider({
                auto: true,
                randomStart: true,
                minSlides: 1,
                maxSlides: 6,
                moveSlides: 4,
                slideWidth: 320,
            });


        });
    </script>
}