@inherits UmbracoViewPage<ChicCarrental_Models.PageModel.Step2Model>
@{
    var c = Model.Car;
    var b = Model.PickupBranch;
    var d = Model.DropoffBranch;
    Layout = "Master.cshtml";
}
@section styles{

    <link href="~/assets/css/style01.css" rel="stylesheet" />
}
<div class="container breadcrub">
    <div>
        <p></p>
    </div>
    <div class="clearfix"></div>
    <div class="brlines"></div>
</div>

<div class="container pagecontainer offset-0">

    <div class="clearfix"></div>

    <!-- FILTERS -->
    <div class="col-md-3 filters offset-0">
        <div class="filtertip">
            <div class="padding20">

            </div>
            <div class="tip-arrow" style="bottom: -9px;"></div>
        </div>
        <div class="bookfilters hpadding20" style="margin-top: 0px;">

            <div class="w50percent">

                <div class="radio">
                    <label>
                        <span class="car-ico"></span> Cars
                    </label>
                </div>

            </div>

            <div class="clearfix"></div><br>

            <!-- HOTELS TAB -->
            <div class="hotelstab2">
                <span class="opensans size13  bold dark">Pickup location</span>
                <p>@Model.PickupBranch.Branch_Name</p>
                <div class="clearfix pbottom15"></div>
                <span class="opensans size13 bold dark">Dropoff location</span>
                <p>@Model.DropoffBranch.Branch_Name</p>
                <div class="clearfix pbottom15"></div>
                <div class="w50percent">
                    <div class="wh90percent textleft">
                        <span class="opensans size13 bold dark">Pick up date</span>
                        <p>@Request["pickupdate"]</p>
                    </div>
                </div>

                <div class="w50percentlast">
                    <div class="wh90percent textleft right">
                        <span class="opensans size13 bold dark">HOUR</span>
                        <p>@Request["pickuptime"]</p>
                    </div>
                </div>

                <div class="clearfix pbottom15"></div>

                <div class="w50percent">
                    <div class="wh90percent textleft">
                        <span class="opensans size13 bold dark">Dropoff date</span>
                        <p>@Request["dropoffdate"]</p>
                    </div>
                </div>

                <div class="w50percentlast">
                    <div class="wh90percent textleft right">
                        <span class="opensans size13 bold dark">HOUR</span>
                        <p>@Request["dropofftime"]</p>
                    </div>
                </div>

                <div class="clearfix pbottom15"></div>
                <div class="line2"></div>

                <div class="clearfix"></div>
                <div class="padding20">
                    <span class="opensans size18 dark bold caps">Your car</span>
                </div>
                <div class="line3"></div>

                <div class="hpadding30 margtop30">

                    <div class="wh30percent left">
                        <img src="updates/update1/img/cars/car02.jpg" class="fwimg" alt="">
                    </div>

                    <div class="wh60percent right">
                        <span class="size16 bold dark">@Model.Car.Name</span><br>
                        <span class="size13 bold grey">@Model.Car.Brand</span><br>
                        <div class="fdash mt10"></div><br>

                        <table class="wh100percent size12 bold grey2">
                            <tbody>
                                <tr>
                                    <td>@Model.NumDate days</td>
                                    <td class="textright">THB @c.Price</td>
                                </tr>
                                <tr>
                                    <td>Vat</td>
                                    <td class="textright">THB @string.Format("{0:N}", c.Price * (decimal)0.07)</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="fdash mt10"></div><br>

                    </div>
                    <div class="clearfix"></div>

                    <br>


                </div>
                <div class="line3"></div>
                <div class="padding30">
                    <span class="left size14 dark">Total:</span>
                    <span class="right lred2 bold size18">THB @string.Format("{0:N}", Model.TotalPrice * (decimal)1.07)</span>
                    <div class="clearfix"></div>
                </div>


            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <br>
        <br>


    </div>
    <!-- END OF FILTERS -->
    <!-- LIST CONTENT-->
    <div class="rightcontent col-md-9 offset-0">

        <div class="hpadding20">
            <!-- Top filters -->
            <!-- End of topfilters-->
        </div>
        <!-- End of padding -->

        <br><br>
        <div class="clearfix"></div>

        <form method="post" action="/booking/step3">
            <input type="hidden" name="pickuploc" value="@Request["pickuploc"]" />
            <input type="hidden" name="pickupdate" value="@Request["pickupdate"]" />
            <input type="hidden" name="pickuptime" value="@Request["pickuptime"]" />
            <input type="hidden" name="dropoffloc" value="@Request["dropoffloc"]" />
            <input type="hidden" name="dropoffdate" value="@Request["dropoffdate"]" />
            <input type="hidden" name="dropofftime" value="@Request["dropofftime"]" />
            <input type="hidden" name="car_id" value="@c.Car_Branch_ID" />
            <input type="hidden" name="price_id" value="@c.Price_ID" />
            <div class="itemscontainer offset-1" style="opacity: 1;">

                <div id="ticketid0123" class="offset-2">
                    @{ var i = 0;

                        foreach (var g in Model.ExtraOption.GroupBy(x => x.GroupName))
                        {
                            var ii = 0;

                            <div class="@(i%2==0?"fblueline":"fgreenline")"><b>@g.Key</b></div>

                            foreach (var op in Model.ExtraOption.Where(x => x.GroupName == g.Key))
                            {
                                <div class="@(ii%2==0?"frow1":"frow2")">
                                    <ul class="flightstable mt20">
                                        <li class="ft1">
                                            <img src="updates/update1/img/tarom.png" alt="">
                                        </li>
                                        <li>
                                            <div class="radio radiomargin0">
                                                <label>
                                                    <input type="radio" checked="" value="@op.A_ID" name="extra[@(i)]">
                                                    <span class="size16 dark bold">@op.Name</span>
                                                </label>
                                            </div>
                                            <span class="grey">@op.Teaser</span><br>

                                        </li>
                                    </ul>
                                    <div class="clearfix"></div><br><br>
                                </div>

                                ii++;
                            }

                            <div class="@(ii%2==0?"frow1":"frow2")">
                                <ul class="flightstable mt20">
                                    <li class="ft1">
                                        <img src="updates/update1/img/tarom.png" alt="">
                                    </li>
                                    <li>
                                        <div class="radio radiomargin0">
                                            <label>
                                                <input type="radio" checked="" value="" name="extra[@(i)]">
                                                <span class="size16 dark bold">ไม่สนใจ</span>
                                            </label>
                                        </div>

                                    </li>
                                </ul>
                                <div class="clearfix"></div><br><br>
                            </div>

                            i++;
                        }
                    }

                    <div>
                        <br /><br />
                        <button class="selectbtn mt1" type="submit">Next step ></button>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="offset-2"><hr class="featurette-divider3"></div>

            </div>
            <!-- End of offset1-->
        </form>


    </div>
    <!-- END OF LIST CONTENT-->



</div>

@Html.Partial("~/views/partials/footer.cshtml")

@section scripts{
    <script>
        $(function () {

            $('.minusBtn').click(function () {
                var x = parseInt($(this).next('input').val()) - 1;
                var min = parseInt($(this).attr('min'));
                $(this).next('input').val(x < min ? min : x);
            });

            $('.plusBtn').click(function () {
                var x = parseInt($(this).prev('input').val()) + 1;
                $(this).prev('input').val(x);
            });

        })
    </script>
}