@inherits UmbracoViewPage<ChicCarrental_Models.PageModel.Step1Model>
@{
    Layout = "Master.cshtml";
}
@section styles{
    <link href="~/scripts/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="//cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/misc/timpicki/style.css" rel="stylesheet" />
}

<div class="container-fluid">

    <section class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Search Detail</h3>
                    <form method="post" action="/Booking">

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Pickup location :</label>
                                <select class="form-control selectbox" name="pickuploc" required>
                                    @foreach (var x in Model.Branch)
                                    {
                                        <option value="@x.A_ID" @(Request["pickuploc"]==x.A_ID.ToString()?"selected":"")>@x.Branch_Name</option>
                                    }
                                </select>
                             
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Dropoff location :</label>
                                <select class="form-control selectbox" name="dropoffloc">
                                    @foreach (var x in Model.Branch)
                                    {
                                        <option value="@x.A_ID" @(Request["dropoffloc"]==x.A_ID.ToString()?"selected":"")>@x.Branch_Name</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <label>Pickup date :</label>
                                <input type="text" class="form-control" data-type="daterange" name="pickupdate" value="@Request["pickupdate"]" readonly required>
                            </div>
                       
                            <div class="col-md-4">
                                <label>time :</label>
                                <input type="text" class="form-control" data-type="timepicker" name="pickuptime" value="@Request["pickuptime"]" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8">
                                <label>Dropoff date :</label>
                                <input type="text" class="form-control" data-type="daterange" name="dropoffdate" value="@Request["dropoffdate"]" readonly required>
                            </div>
                       
                            <div class="col-md-4">
                                <label>time :</label>
                                <input type="text" class="form-control" data-type="timepicker" name="dropofftime" value="@Request["dropofftime"]" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label></label>
                                <button class="btn btn-default btn-block" type="submit">Go</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Fiter size</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h4>Size s</h4>
                                </div>
                                <img src="~/images/tmbimage.PNG" alt="image" style="height: 200px; width: 100%; display: block;">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h4>Size s</h4>
                                </div>
                                <img src="~/images/tmbimage.PNG" alt="image" style="height: 200px; width: 100%; display: block;">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h4>Size s</h4>
                                </div>
                                <img src="~/images/tmbimage.PNG" alt="image" style="height: 200px; width: 100%; display: block;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="col-md-3">
            <div class="col-md-12">
                <h3>Filter more</h3>
                <div class="col-md-12">
                    <h5>Fiter one</h5>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <h5>Fiter Two</h5>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9">
            @foreach (var c in Model.ListCar)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-2 col-md-3">
                                <img src="~/images/tmbimage.PNG" alt="image" style="height: 200px; width: 100%; display: block;">

                            </div>
                            <div class="col-xs-10 col-md-9">
                                <h4>@c.Code_Name @c.Brand @c.Name</h4>
                                <p>frist detail</p>
                                <p>two detail</p>
                                <div>
                                    @c.Teaser
                                </div>
                                <div>
                                    <p></p>
                                    <div class="col-md-8 text-right"><h5>Price</h5></div>
                                    <div class="col-md-2"><button class="btn pull-right"><s>@c.Display_Price</s></button></div>
                                    <form method="post" action="/booking/step2">
                                        <input type="hidden" name="pickuploc" value="@Request["pickuploc"]" />
                                        <input type="hidden" name="pickupdate" value="@Request["pickupdate"]" />
                                        <input type="hidden" name="pickuptime" value="@Request["pickuptime"]" />
                                        <input type="hidden" name="dropoffloc" value="@Request["dropoffloc"]" />
                                        <input type="hidden" name="dropoffdate" value="@Request["dropoffdate"]" />
                                        <input type="hidden" name="dropofftime" value="@Request["dropofftime"]" />
                                        <input type="hidden" name="car_id" value="@c.Car_Branch_ID" />
                                        <input type="hidden" name="price_id" value="@c.Price_ID" />
                                        <div class="col-md-2"><button class="btn pull-right" type="submit">@c.Price</button></div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }



        </div>
    </section>

</div>

@section scripts{

    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
    <script src="~/scripts/bxslider/jquery.bxslider.js"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="~/misc/timpicki/script.js"></script>
    <script>
        $(document).ready(function () {

            $('#TopBanner').bxSlider({
                auto: true,
                autoControls: true,
                mode: "fade",
                randomStart: true,
                controls: false
            });

            $('#MidBanner').bxSlider({
                auto: true,
                randomStart: true,
                minSlides: 1,
                maxSlides: 6,
                moveSlides: 4,
                slideWidth: 320,
            });

            $('#diffectdrop').click(function () {
                $('#dropdiv').toggle();
                if ($('#dropdiv').is(':hidden')) {
                    $('input[name="dropoffloc"]').val($('input[name="pickuploc"]').val());
                }
            });

            $('.selectbox').select2();

            $('input[data-type="daterange"]').daterangepicker({
                minDate: moment().format('MM/DD/YYYY'),
                autoApply: true,
                endDate: moment().add(1, 'days').format('MM/DD/YYYY'),
                autoUpdateInput: false
            }, function (start, end, label) {
                $('input[name="pickupdate"]').val(start.format('YYYY-MM-DD'));
                $('input[name="dropoffdate"]').val(end.format('YYYY-MM-DD'));
            });

            $('input[data-type="timepicker"]').timepicki({
                start_time: [moment().format('hh'), "00", moment().format('A')],
                overflow_minutes: true,
                step_size_minutes: 15
            });

        });
    </script>
}
