@inherits UmbracoViewPage<ChicCarrental_Models.PageModel.Step3Model>
@{
    var c = Model.Car;
    var b = Model.PickupBranch;
    var d = Model.DropoffBranch;
    var extrx = Model.ExtraOption;
    var insur = Model.Insurance;
    Layout = "master.cshtml";
}

<div class="container-fluid">

    <section class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body panel-summery">
                    <h3>Summery Detail</h3>
                    <p><b>Rental:</b>  @Model.NumDate Day</p>
                    <p><b>Car price : </b> THB @c.Price</p>
                    @foreach (var x in extrx)
                    {
                        <p><b>@(x.Name.Length > 20 ? x.Name.Substring(0, 19) : x.Name ) : </b> THB @x.Price</p>
                    }
                    @foreach (var x in insur)
                    {
                        <p><b>@(x.Name.Length > 20 ? x.Name.Substring(0, 19) : x.Name ) : </b> THB @x.Price</p>
                    }

                    <p><b>Vat 7% : </b> THB @string.Format("{0:N}", c.Price * (decimal)0.07)</p>
                </div>
                <div class="panel-footer panel-summery">
                    <p><b>Total :</b> THB @string.Format("{0:N}", Model.TotalPrice * (decimal)1.07)</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2 col-md-3">
                            <img src="~/images/tmbimage.PNG" alt="image" style="height: 200px; width: 100%; display: block;">
                        </div>
                        @if (c != null)
                        {
                            <div class="col-xs-10 col-md-9">
                                <h4>@c.Code_Name @c.Brand @c.Name</h4>
                                <p><b>Pickup : </b> @b.Branch_Name</p>
                                <p><b>Date/time : </b> @Request["pickupdate"] @Request["pickuptime"]</p>
                                <p><b>Dropoff : </b> @d.Branch_Name</p>
                                <p><b>Date/time : </b> @Request["dropoffdate"] @Request["dropofftime"]</p>
                                <div class="pull-right">
                                    <button class="btn" onclick="window.history.go(-1); return false;">Edit</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="panel-footer">
                    @if (extrx.Count > 0)
                    {
                        <h5>Extra option</h5>
                        <div>
                            <ul>
                                @foreach (var x in extrx)
                                {
                                    <li>@x.Name</li>
                                }
                            </ul>
                        </div>
                    }

                    @if (insur.Count > 0)
                    {
                        <h5>Insurance</h5>
                        <div>
                            <ul>
                                @foreach (var x in insur)
                                {
                                    <li>@x.Name</li>
                                }

                            </ul>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="col-md-3">
        </div>
        <form action="/booking/step4" method="post">


            <input type="hidden" name="pickuploc" value="@Request["pickuploc"]" />
            <input type="hidden" name="pickupdate" value="@Request["pickupdate"]" />
            <input type="hidden" name="pickuptime" value="@Request["pickuptime"]" />
            <input type="hidden" name="dropoffloc" value="@Request["dropoffloc"]" />
            <input type="hidden" name="dropoffdate" value="@Request["dropoffdate"]" />
            <input type="hidden" name="dropofftime" value="@Request["dropofftime"]" />
            <input type="hidden" name="car_id" value="@c.Car_Branch_ID" />
            <input type="hidden" name="price_id" value="@c.Price_ID" />
            @if (extrx != null)
            {
                foreach (var x in extrx)
                {
                <input type="hidden" name="extra[]" value="@x.A_ID">
                }
            }
            @if (insur != null)
            {
                foreach (var x in insur)
                {
                <input type="hidden" name="insurence[]" value="@x">
                }
            }

            <div class="col-md-9">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-inline">
                            <label for="exampleInputName2">Have you booked it before?</label>
                            <button type="submit" class="btn btn-default" id="qloginbtn">Yes</button>
                        </div>
                    </div>
                    <div class="panel-footer" style="display:none" id="qloginform">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="bookedno">Booked No.</label>
                                <input type="text" class="form-control" placeholder="Booked No." name="bookedno">
                            </div>
                            <div class="form-group">
                                <label for="cusemail">Email</label>
                                <input type="email" class="form-control" placeholder="Email" name="cusemail">
                            </div>
                            <button type="submit" class="btn btn-default">Login</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">

                        @{
                            var driver = Convert.ToInt32(Request["driver"]);
                            for (var i = 1; i <= driver; i++)
                            {
                                <h3>Driver #@i</h3>
                                <div class="row">
                                    <div class="driver">
                                        <div class="form-group col-md-12">
                                            <label>Title</label>
                                            <br />
                                            <label class="radio-inline">
                                                <input type="radio" name="title[@(i-1)]" value="Mr" checked> Mr
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="title[@(i-1)]" value="Mrs"> Mrs
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="title[@(i-1)]" value="Ms"> Ms
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="title[@(i-1)]" value="Dr"> Dr
                                            </label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="Name[@(i-1)]">Name</label>
                                            <input type="text" class="form-control" placeholder="Name" name="name[@(i-1)]" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="Lname[@(i-1)]">Last Name</label>
                                            <input type="text" class="form-control" placeholder="Last Name" name="lname[@(i-1)]" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="email[@(i-1)]">Email</label>
                                            <input type="text" class="form-control" placeholder="Email" name="email[@(i-1)]" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="phone[@(i-1)]">Phone number</label>
                                            <input type="text" class="form-control" placeholder="Phone number" name="phone[@(i-1)]">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="license[@(i-1)]">license number</label>
                                            <input type="text" class="form-control" placeholder="license number" name="license[@(i-1)]" required>
                                        </div>

                                    </div>
                                </div>
                            }
                        }

                        <div class="row">

                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="diffpick" id="diffpickbtn" value="1"> Different car receiver
                                    </label>
                                </div>
                            </div>


                            <div class="driver" style="display:none" id="diffpickform">
                                <div class="form-group col-md-6">
                                    <label for="pname">Name</label>
                                    <input type="text" class="form-control" placeholder="Name" name="pname">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Last Name</label>
                                    <input type="text" class="form-control" placeholder="Last Name" name="plname">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="pemail">Email</label>
                                    <input type="text" class="form-control" placeholder="Email" name="pemail">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="pphone">Phone number</label>
                                    <input type="text" class="form-control" placeholder="Phone number" name="pphone">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="plicense">license number</label>
                                    <input type="text" class="form-control" placeholder="license number" name="plicense">
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Flight no.</h3>
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Flight number to track your arrival</label>
                            <input type="text" class="form-control" placeholder="Email" name="flightno">
                        </div>
                    </div>

                </div>

                <div>
                    <div class="form-group col-md-3 col-md-offset-2">
                        <button class="btn btn-lg" type="submit" name="pay" value="now">Paynow save 30%</button>
                    </div>
                    <div class="form-group col-md-3 col-md-offset-2">
                        <button class="btn btn-lg" type="submit" name="pay" value="later">Pay later</button>
                    </div>
                </div>

            </div>
        </form>
    </section>

</div>

@section scripts{
    <script>

        $(function () {
            $('#qloginbtn').click(function () {
                $('#qloginform').show();
            })
            $('#diffpickbtn').click(function () {
                if ($(this).is(":checked")) {
                    $('#diffpickform').show();
                } else {
                    $('#diffpickform').hide();
                }
            })
        });
       
    </script> 
}