@inherits UmbracoViewPage<ChicCarrental_Models.PageModel.Step2Model>
@{
    var c = Model.Car;
    var b = Model.PickupBranch;
    var d = Model.DropoffBranch;
    Layout = "master.cshtml";
}

<div class="container-fluid">
    <section class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body panel-summery">
                    <h3>Summery Detail</h3>
                    <p><b>Rental:</b>  @Model.NumDate Day</p>
                    <p><b>Car price : </b> THB @c.Price</p>
                    <p><b>Vat 7% : </b> THB @string.Format("{0:N}", c.Price * (decimal)0.07)</p>
                </div>
                <div class="panel-footer panel-summery">
                    <p><b>Total :</b> THB @string.Format("{0:N}", Model.TotalPrice * (decimal)1.07)</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2 col-md-3">
                            <img src="~/images/tmbimage.PNG" alt="image" style="height: 200px; width: 100%; display: block;">

                        </div>

                        @if (c != null)
                        {
                            <div class="col-xs-10 col-md-9">
                                <h4>@c.Code_Name @c.Brand @c.Name</h4>
                                <p><b>Pickup : </b> @b.Branch_Name</p>
                                <p><b>Date/time : </b> @Request["pickupdate"] @Request["pickuptime"]</p>
                                <p><b>Dropoff : </b> @d.Branch_Name</p>
                                <p><b>Date/time : </b> @Request["dropoffdate"] @Request["dropofftime"]</p>
                                <div class="pull-right">
                                    <button class="btn" onclick="window.history.go(-1); return false;">Edit</button>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>

    <form method="post" action="/booking/step3">

    <section class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Pick up map</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15110.42764680224!2d98.96467905748496!3d18.77108737849219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc24d5b9da6d03aa0!2zQ2hpYyBjYXIgcmVudCDguKrguJnguLLguKHguJrguLTguJnguYDguIrguLXguKLguIfguYPguKvguKHguYg!5e0!3m2!1sen!2sth!4v1564966722485!5m2!1sen!2sth" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-9">

            <input type="hidden" name="pickuploc" value="@Request["pickuploc"]" />
            <input type="hidden" name="pickupdate" value="@Request["pickupdate"]" />
            <input type="hidden" name="pickuptime" value="@Request["pickuptime"]" />
            <input type="hidden" name="dropoffloc" value="@Request["dropoffloc"]" />
            <input type="hidden" name="dropoffdate" value="@Request["dropoffdate"]" />
            <input type="hidden" name="dropofftime" value="@Request["dropofftime"]" />
            <input type="hidden" name="car_id" value="@c.Car_Branch_ID" />
            <input type="hidden" name="price_id" value="@c.Price_ID" />

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Extra Option</h3>

                    @foreach (var x in Model.ExtraOption)
                    {
                        <div class="extra-list">
                            <div class="row">
                                <div class="col-xs-2 col-md-3">
                                    <img src="~/images/tmbimage.PNG" alt="image" style="height: 100px; width: 100%; display: block;">

                                </div>
                                <div class="col-xs-10 col-md-9">
                                    <h4>@x.Name</h4>

                                    <div>
                                        @x.Teaser
                                    </div>
                                    <div>
                                        <p></p>
                                        <div class="col-md-8 text-right"><h5>@x.Price</h5></div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="extra[]" value="@x.A_ID"> Check me out
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                    }

                    <h3>Add more driver</h3>
                    <div>
                        <div class="col-md-4">There are many variations of passages</div>
                        <div class="col-md-8">
                            <div class="pull-right">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <a href="javascript:;" class="input-group-addon minusBtn"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></a>
                                            <input type="number" class="form-control text-center" value="1" name="driver" min="1">
                                            <a href="javascript:;" class="input-group-addon plusBtn"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section class="row">
        <div class="col-md-9 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Insurence Option</h3>
                    @foreach (var i in Model.Insurance)
                    {
                        <div>
                            <div class="col-md-8">
                                <p> -  @i.Name </p>
                            </div>
                            <div class="col-md-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="insurence[]" value="@i.A_ID">
                                    </label>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="col-md-12">
            <div class="col-md-offset-8 col-md-4">
                <div class="pull-right">
                    <button class="btn btn-lg" onclick="window.history.go(-1); return false;">< back</button>
                    <button class="btn btn-lg" type="submit">Next ></button>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
        <p></p>

    </section>

    </form>
</div>

@section scripts{
    <script>
        $(function () {

            $('.minusBtn').click(function () {
                var x = parseInt($(this).next('input').val()) - 1;
                var min = parseInt($(this).attr('min'));
                $(this).next('input').val(x < min ? min : x);
            });

            $('.plusBtn').click(function () {
                var x = parseInt($(this).prev('input').val()) + 1;
                $(this).prev('input').val(x);
            });


        })
    </script>
    }